.header {
    padding: 25px 30px;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    line-height: 35px;
}

.header .button-back {
    color: rgb(78, 102, 112);
    margin-right: 15px;
    vertical-align: middle;
    padding: 0;
    background: none;
    outline: none;
    border: none;
}
