.header {
    padding: 25px 30px;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
}

.header .button-back {
    color: rgb(78, 102, 112);
    line-height: 35px;
    margin-right: 15px;
    vertical-align: top;
    cursor: pointer;
}
