.daily-forecast-container {
    margin: 10px;
}

.daily-forecast-container .daily-forecast-item {
    display: block;
    width: 100%;
    font-size: 17px;
    text-align: center;
}

.daily-forecast-container .daily-forecast-item  > * {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

.daily-forecast-container .daily-forecast-item .weather-icon {
    color: rgb(77,102,114);
    font-size: 75px;
    margin: 15px 0 20px 0;
}

@media screen and (min-width: 568px) {
    .daily-forecast-container {
        margin: 10px 0 !important;
    }

    .daily-forecast-container .daily-forecast-item {
        display: inline-block !important;
        font-size: 12px !important;
        width: calc(100% / 7) !important;
    }

    .daily-forecast-container .daily-forecast-item  > * {
        width: auto !important;
        display: block !important;
    }

    .daily-forecast-container .daily-forecast-item .weather-icon {
        font-size: 50px !important;
        float: none !important;
    }
}
